.figure1{
    background-color: white;
    h4{
        color: #8b2465;
    }
}

.figure1 figcaption{
    background-color: #f8dbb4;
    h4{
        color:#8b2465; ;
    }
}       


.figure2{
    background-color: white;
}

.figure2 figcaption{
    background-color: #439EA8;
    p{
        color: white;
    }
}

.figure3{
    background-color: white;
}

.figure3 figcaption{
    background-color: #C77285;
    p{
        color: white;
    }
}

.figure4{
    background-color: white;
}

.figure4 figcaption{
    background-color: #DD564D;
    p{
        color: white;
    }
} 

.figure5{
    background-color: white;
}

.figure5 figcaption{
    background-color: #67673C;
    p{
        color: white;
    }
}


.figure6{
    background-color: white;
}

.figure6 figcaption{
    background-color: #FCDE58;
    h4{
        color: #8b2465;
    }
}

.figure7{
    background-color: white;
}

.figure7 figcaption{
    background-color: #2F3025;
    p{
        color: white;
    }
}

.figure8{
    background-color: white;
}

.figure8 figcaption{
    background-color: #9A3015;
    p{
        color: white;
    }
}

.figure9{
    background-color: white;
}

.figure9 figcaption{
    background-color: #907595;
    p{
        color: white;
    }
}


