@mixin parallax {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
@mixin parallax2 {
    min-height: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax{
    background-image: url("/img/c3.JPG");
    @include parallax;
    
}
.parallax2{
    background-image: url("/img/c6.JPG");
    @include parallax;
}
.parallax3{
    background-image: url("/img/fondoLadrillo.png");
    @include parallax2;
}
.parallax4{
    background-image: url("/img/c7.JPG");
    @include parallax;
}
.parallax5{
    background-image: url("/img/c1.JPG");
    @include parallax;
}
.parallax6{
    background-image: url("/img/c4.JPG");
    @include parallax;
}