*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "header";
@import "footer";
@import "index";
@import "parallax";
@import "figure";
@import "catalogo";
@import "servicios";
@import "contacto";
@import "quienessomos";
@import "queries";

/** Style Nosotros **/ 


/** tablet **/

